body{
    margin: 0;
    padding:0;
    background-color: #f5f5f5;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}
nav{
    display:flex;
    justify-content: space-between;
    background-color: black;
    z-index: 1000;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:1.5em ;
}
 
.liens{
    display: flex;
    padding: 0 2px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 40px; 
    color: white;
    /* background-color: black;  */
    /*border:2px solid red;*/
}
.navi{
    padding: 0 50px;
    /* font-size: 4px; */
}
/* .navi:nth-child(1){
    margin-right: auto;
} */
/* .billy1{
    font-size: 22px;
} */
a{
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 5px auto 0;
}
a:hover{
    color:rgb(230, 15, 15);
}
@media screen and (max-width: 700px) {
    .liens{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
    nav{
        display:flex;
        flex-direction: column;
    }   
 }

 /* .picture{
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color:#fff;
    text-align: center;
} */
.background-image::before{
    position:absolute;
    content:"";
    z-index: -1;
    background-image: url("/images/pizza-banner.jpg");
     top:0;
    left:0; 
     justify-content: center;
    align-items: center;
    min-height: 100vh;
    color:#fff;
    text-align: center; 
    width: 100%;
    height:100vh;
    min-height: 970px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
}
/* .picture1{
    position: relative;
    display:block;
    top:-16px;
    filter: brightness(50%);
    height: 600px;
    width: 100%
} */
.plan{
    display: block;
    padding-top:20px ;
}
.billy{
    /* position: absolute; */
    margin: 0 auto;
    margin-bottom: 150px;
    /* width: 500px; */
    font-size: 1.8em;
    text-align: center;
    color: white;
    /* left: 37.5%; */
    /* top:50%;
    transform:translate(-50% -50%); */
    /* border: 1px solid black; */
}
/* .pizza_billy{
    position: relative;
    top:0.6em;
} */
p{
    text-align: center;
}
.btn{
    display: block;
    /* left: 30%; */
    /* margin:5px auto 0; */
    margin-bottom: 20px;
    padding:5px 20px;
    width:150px;
    /* height:30px; */
    font-size: 0.8em;
    background-color: red;
    text-align:center;
    border-radius: 999999px;
    transition: all 0.4s ease-in;
}
.btn:hover{
    background-color: whitesmoke;
    color:red;
}

.billy2{
    /* position: absolute; */
    display:block;
    background-color: #f5f5f5;
    padding-top: 20px;
    /* border: 1px solid tomato; */
}
.livraison{
    display: block;
    font-size: 3em;
    text-align: center;
}
.service{
    /* position: relative; */
    display: flex;
    justify-content: center; 
    /* align-items: center; */
    margin: 0 auto;
    /* width: 950px;   */
    /* border: 1px solid black; */
}
.service1{
    background-color: white;
    text-align: center;
    margin: 0 4px;
    padding: 2em 4em;
    /* width: 400px; */
    height: 250px;
    border:1px solid #d8d6d6;
    border-radius: 5px;
    /* margin: 1px 1em 0 1em; */
}
.service2{
  background-color: white;
  text-align: center;
  margin: 0 4px;
  padding: 2em;
    /* width: 400px; */
    height: 250px;
    border:1px solid #d8d6d6;
    border-radius: 5px;
}
@media screen and (max-width: 954px){
    .service{
        display: flex;
        flex-direction:column ;
        /* justify-content: center; */
        align-items: center;
        margin: 0 auto;
    }
    .service1{
        margin-bottom: 10px;
        margin: 2 auto;
    }
    .service2{
        margin-bottom: 10px;
        margin: 2 auto;
    }

}
.resp-container { 
    position: relative; 
    margin: 0 auto;
    overflow: hidden; 
    /* padding-top: 56.25%;  */
  }
  .resp-iframe { 
    /* position: absolute;  */
    display: block;
    margin: 20px auto;
    top: 0; 
    left: 0; 
    width:600px; 
    height:450px; 
    border: 0; 
  }

  @media screen and (max-width: 625px){
    .resp-iframe { 
        /* position: absolute;  */
        display: block;
        margin: 20px auto;
        top: 0; 
        left: 0; 
        width:300px; 
        height:150px;
    }
  }
/* iframe{
    width: 100%; */
    
    /* display: block; */
    /* padding-bottom: 80px; */
/* } */
i{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: skyblue;
    padding: 1.5em;
    font-size: 30px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
#pizza{
    background-color:#d43c61;
}
.btn1 {
    display: block;
    /* left: 30%; */
    /* margin:5px auto 0; */
    margin: 40px auto;
    padding:5px 20px;
    width:150px;
    /* height:30px; */
    font-size: 1.5em;
    background-color: red;
    text-align:center;
    border-radius: 999999px;
    transition: all 0.4s ease-in;   
} 

/* .mappy{
    margin-left: 360px;
    } */
.carte{
    /* position: absolute;
    width: 100%; */
    background-color: white;
}
.contact,.plan{
    display: block;
    padding-top:20px ;
    font-size: 3em;
    text-align: center;
}
.prenom,.nom,.email,.telephone,.messages{
    /* width: 600px; */
    display:flex;
    flex-direction: column;
    margin: 0 auto;
}
.contact_finale{
    margin-top: -40px;
    /* margin-bottom: -20px; */
    height: 500px;
    
    /* padding: 0; */
    background-color: skyblue;
    color:white;
}
.formulaire{
    /* padding: 0 350px; */
    margin: 0 auto;
    width: 550px;
    /* height: 400px;
    margin-left: 360px;
    display:flex;
    flex-direction: column;
    justify-content: center; */
    /* border: 1px solid black;    */
}
@media screen and (max-width: 564px){
    .formulaire{
        /* padding: 0 350px; */
        margin: 0 auto;
        width: 300px;
        /* height: 400px;
        margin-left: 360px;
        display:flex;
        flex-direction: column;
        justify-content: center; */
        /* border: 1px solid black;    */
    }
    }
input{
    border-radius:5px;
    border: none;    
}
textarea{
    border-radius:5px;
    border: transparent;
}
.btn2{
    /* position: relative; */
    /* display: flex; */
    display: block;
    text-align: center;
    font-size: 1em;
    /* left:260px; */
    width:120px;
    background-color: black;
    border-radius: 999px;
    margin: 10px auto;
    /* margin-bottom: 20px; */
    padding: 6px;
    /* border: 1px solid black; */
}
.footer{
    display:flex;
    justify-content: space-evenly;   
    color: #cdced0;
    border-bottom:2px solid #cdced0;
    margin: 0px 70px 20px;
    padding-bottom: 1em ;
}
footer{
    position: relative;
    background-color: #383b43;
    height: 250px;
}
ul{
    list-style-type: none;    
}
ul.pizaa{
    display: flex;
    flex-direction: column;
    height: 120px;
}
li{
    padding: 0.2em;
}
.copy{
    display: block;
    text-align: center;
}
.image{
    position: fixed;
    left: 90%;
    top: 90%;
    display: flex;
    width: 50px;
	height: 50px;   
}
    
    



